<!-- <a href="http://facebook.com/yourProfile">
  <img src="https://www.computerhope.com/logo.gif" alt="my picture" height="128" width="128" />
</a> -->
<!-- 
<a href="#" id="bottle" onclick="document.location=this.id+'.html';return false;" >
  <img src="https://www.computerhope.com/logo.gif" alt="bottle" class="thumbnails" />
</a> -->
<!-- <html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <p style=" color: blue; font-family: verdana; font-size: 200%;">New Courses</p>
  <div class="w3-row">
    <div class="w3-quarter">
     <a href="http://youtube.com"> 
       <div class="w3-container w3-red w3-center"><p>Readmore</p></div>
     </a>
    </div>
    <div class="w3-quarter">
      <a href="http://google.com">
       <div class="w3-container w3-pink w3-center"><p>Readmore</p></div>
      </a>
    </div>
    <div class="w3-quarter">
      <a href="http://google.com">
        <div class="w3-container w3-orange w3-center"><p>Readmore</p></div>
       </a>
    </div>
    <div class="w3-quarter">
      <a href="http://google.com">
       <div class="w3-container w3-yellow w3-center"><p>Readmore</p></div>
     </a>
    </div>
  </div>
</div>

</body>
</html> 
 -->
<html>

<body style="margin-left: 100px; margin-right: 100px; line-height: 200px">

  <div class="w3-container">
    <h2 style="color: blue">New Courses</h2>
  </div>

  <div class="row padding">
    <div class="col s3 container">
      <a href="#" class="button block red center">READ MORE</a>
    </div>
    <div class="col s3 container">
      <a href="#" class="button block purple center">READ MORE</a>
    </div>
    <div class="col s3 container">
      <a href="#" class="button block green center">READ MORE</a>
    </div>
    <div class="col s3 container">
      <a href="#" class="button block blue center">READ MORE...</a>
    </div>
  </div>
</body>

</html>