<html>
  
<body style="margin-left: 100px; margin-right: 100px; line-height: 200px">

  <div class="w3-container">
    <h2 style="color: blue">New Courses</h2>
  </div>

  <div class="row padding">
    <div class="col s3 container">
      <a href="#" class="button block red center">READ MORE</a>
    </div>
    <div class="col s3 container">
      <a href="#" class="button block purple center">READ MORE</a>
    </div>
    <div class="col s3 container">
      <a href="#" class="button block green center">READ MORE</a>
    </div>
    <div class="col s3 container">
      <a href="#" class="button block blue center">READ MORE...</a>
    </div>
  </div>
</body>

</html>