<!-- <!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">  

<app-top-menu></app-top-menu>

<h2>Login Form</h2>

<form action="/action_page.php">
  <div class="imgcontainer">
    <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
        
    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
<script>
    // Get the modal
    var modal = document.getElementById('id01');
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    </script>
</body>
</html> -->
<!-- <div class="wrapper">
    <div class="page-header" style="background-image:url('https://thumbs.dreamstime.com/z/kid-painting-teacher-classroom-15635347.jpg')">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                        <div class="card card-register">
                            <h3 class="title">Welcome</h3>
                            <form class="register-form">
                                <label>Username</label>
                                <input type="text" class="form-control" placeholder="Username">

                                <label>Password</label>
                                <input type="password" class="form-control" placeholder="Password">
                                <button class="btn btn-danger btn-block btn-round">Login</button>
                            </form>
                            <div class="forgot">
                                <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer register-footer text-center">
                    <h6>&copy; Power by EduLink</h6>
                </div>
            </div>
    </div>
</div> -->
<app-top-menu></app-top-menu>
<div class="container main-section" style="margin-top:20px">    
	<div class="row">
		<div class="col-md-12 text-center user-login-header">
			<h1>ĐĂNG NHẬP</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-8 col-xs-12 col-md-offset-4 col-sm-offset-2 login-image-main text-center">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 user-image-section">
					<img src="https://image.flaticon.com/icons/png/512/306/306473.png">
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 user-login-box">
					<!-- <div class="form-group">
				  		<input type="text" class="form-control" placeholder="User Name" id="usr">
					</div>
					<div class="form-group">
				  		<input type="text" class="form-control" placeholder="Password" id="usr">
					</div>
                    <a href="#" class="btn btn-defualt">Login</a> -->
                    <form class="register-form">
                            <label>Tên người dùng</label>
                            <input type="text" class="form-control" placeholder="Tên người dùng...">

                            <label>Mật khẩu</label>
                            <input type="password" class="form-control" placeholder="Mật khẩu...">
                            <button class="btn btn-danger btn-block btn-round">Đăng nhập</button>
                        </form>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 last-part">
					<p>Quên mật khẩu?<a href="#"> Đăng kí tài khoản mới</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
