<html>

<body style="margin-left: 100px; margin-right: 100px; line-height: 0px">

  <div class="w3-container">
    <h2 style="color: blue">Up Coming Courses</h2>
  </div>

  <div class="row padding">
    <div class="col s3 container">
      <a>
        <iframe width="210" height="210" src="https://www.youtube.com/embed//EW1XfjOFxGE" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen>
        </iframe>
      </a>
      <h3>English</h3>
    </div>
    <div class="col s3 container">
      <a>
          <iframe width="210" height="210" src="https://www.youtube.com/embed/ZPjwpv6xUj8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </a>
      <h3>First Add</h3>
    </div>
    <div class="col s3 container">
      <a>
          <iframe width="210" height="210" src="https://www.youtube.com/embed/9TI4RJSSwhc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </a>
      <h3>Infant Nutrition</h3>
    </div>
    <div class="col s3 container">
      <a>
          <iframe width="210" height="210" src="https://www.youtube.com/embed/0a91lbY31dI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </a>
      <h3>Obstacle</h3>
    </div>
  </div>
</body>

</html>