<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>

<body class="w3-light-grey">
    <app-student-management-topbar></app-student-management-topbar>
    <app-student-management-sidebar></app-student-management-sidebar>
    
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <div class="container">
    <div class="row">
      <div class="col-xs-11">
        <div class="margin-20">
          <h4>Đăng thông báo</h4>
        </div>
        <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
          <div class="form-group">
            <label>Tiêu đề</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Tiêu đề...">
            <small *ngIf="!myForm.controls.name.valid" class="text-danger">
              Tiều đề (tối thiểu 5 kí tự).
            </small>
            <form action="/action_page.php">

              <label>Miêu tả</label>
              <!-- <input type="text" class="form-control" formControlName="description" placeholder="Miêu tả..."> -->
              <textarea rows="4" cols="50" class="form-control" ng-model="text" formControlName="description" placeholder="Miêu tả..."> 
              </textarea>

              <form action="http://www.example.com/upload.php" method="post">
                <p>Upload pdf file:</p>
                <input type="file" name="pdf_file" />
              </form>
              <label for="doi_tuong">Đối tượng</label>
              <select id="doi_tuong" name="Đối tượng">
                <option value="Toàn trường">Toàn trường</option>
                <option value="Lớp">Lớp</option>
                <option value="Cá nhân">Cá nhân</option>
              </select>
            </form>
          </div>
          <!--addresses-->
          <div formArrayName="addresses">
            
            <div *ngFor="let address of myForm.controls.addresses.controls; let i=index" class="panel panel-default">
              <div class="panel-heading">
                <span>Chọn thời gian {{i + 1}}</span>
                <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.addresses.controls.length > 1" (click)="removeAddress(i)"></span>

              </div> 
              <!-- Date-time form -->
              <!-- <div class="form-group">
                  <input id="date" name="date" [(ngModel)]="date"
                          type="text" bsDatepicker class="form-control" />
              </div> -->
              
              <div class="form-group">
                  <label class="label-control">Datetime Picker</label>
                  <input type="text" class="form-control datetimepicker" value="10/05/2016">
              </div>
              <!-- <div class="panel-body" [formGroupName]="i">
              </div> -->
            </div>
          </div>

          <div class="margin-20">
            <a (click)="addAddress()" style="cursor: default">
              Thêm khoảng thời gian +
            </a>
          </div>

          <div class="margin-20">
            <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Submit</button>
          </div>
          <div class="clearfix"></div>

          <!-- <div class="margin-20">
          <div>myForm details:-</div>
          <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
          <pre>form value: <br>{{myForm.value | json}}</pre>
        </div> -->
        </form>
      </div>
    </div>
  </div>
  </div>
  <script src="./assets/js/bootstrap-datetimepicker.min.js"></script>
  <script src="./assets/js/material-kit.js?v=2.0.2"></script>
  <script>
      $(document).ready(function() {

          //init DateTimePickers
          materialKit.initFormExtendedDatetimepickers();

          // Sliders Init
          materialKit.initSliders();
      });
  </script>
</body>

</html>