<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
  margin-top:  30px;
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}
.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("https://d3uf2ssic990td.cloudfront.net/images/5031/413b4a3e-5bf8-494b-bfda-ed9488ca3b0d/kids.jpg");
  min-height: 100%;
}
.menu {
  display: none;
}
</style>
<body>

<!-- Header with image -->
<header class="bgimg " id="home" style="height: 500px">
  <div class="padding display bottomcenter">
    <span style="color: #f00!important;font-size:50px">EduLink</span>
  </div>
</header>

<!-- Add a background color and large text to the whole page -->
