<!-- HOMEPAGE -->
<div class="jumbotron text-center">
  <h1>EDULINK</h1> 
  <p>Phần mềm kết nối giữa phụ huynh và nhà trường một cách tiện lời và nhanh nhất</p> 
    <div class="center-cta" style="margin-left:480px">
      <a href="https://market.android.com/details?id=com.skout.android" target="_blank" class="pull-left" ng-hide="isIOS"><div class="googleplay">

      </div>
    </a>
    <a href="http://itunes.apple.com/us/app/skout/id302324249?at=11l4Gp" target="_blank" class="pull-left" ng-hide="isAndroid">
      <div class="appstore">
      </div>
    </a>
  </div>
</div>